<main class="dashboard h-100">
  <div class="container main-top">
    <h2>{{quizItem.name}}</h2>

    <p>{{quizItem.description}}</p>
    <p>Déclarer la ou les bonnes réponses à l'aide de la case à cocher en dessous de chaque réponses.</p>

    <div class="container">
      <form class="head-room" action="/quiz/{{quizItem._id}}/process-card" method="POST">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>
              Question
              <input type="text" name="question" class="form-control">
            </label>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>
                Réponse 1
                <input type="text" name="firstAnswer" class="form-control">
                <input type="checkbox" name="firstTrue" />
              </label>
              <label for="formGroupExampleInput2">
                Réponse 2
                <input type="text" name="secondAnswer" class="form-control">
                <input type="checkbox" name="secondTrue" />
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>
                Réponse 3
                <input type="text" name="thirdAnswer" class="form-control">
                <input type="checkbox" name="thirdTrue" />
              </label>
              <label for="formGroupExampleInput2">
                Réponse 4
                <input type="text" name="fourthAnswer" class="form-control">
                <input type="checkbox" name="fourthTrue" />
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-color">Enregistrer</button>
      </form>
    </div>

    {{#if cardList}}
    {{#each cardList}}
    <h4>{{this.question}}</h4>
    <ol>
      {{#each this.options}}
      <li>
        <p>{{option}} {{#if valid}}✅{{/if}}</p>
      </li>
      {{/each}}
    </ol>
    {{/each}}
    {{/if}}

</main>